<div class="container" ng-controller="dashboardController">
    <div class="jumbotron" ng-show="showWelcome">
        <h1> Hey there, {{Session.user.name.first}}</h1>
        <p>Welcome to the PromNight management console</p>
        <p><a class="btn btn-primary btn-lg" role="button" ng-click="hideWelcome()">Dismiss</a></p>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Recently Bought Tickets</div>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Student</th>
                    <th>Price</th>
                    <th>Bought</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ticket in recentTickets">
                    <td>{{ticket.student.name.full}}</td>
                    <td>{{ticket.price}}</td>
                    <td>{{ticket.bought}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="cl-md-6">

    </div>
</div>